body {
  background-color: rgb(255, 232, 235);
}

.heading {
  background-color: rgb(228, 158, 170);
  border-radius: 50%;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
  width: 25%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: center;
}

img {
  flex-basis: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin-top: 8px;
}



@media only screen and (max-width: 800px) {
  img {
    flex-basis: 40%;
    max-width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  img {
    flex-basis: 100%;
    max-width: 100%;
  }
}